*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    width: 100%;
}

.row{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.col{
    flex-basis: 45%;
    margin-left: 20px;
}

.slider{
    height: 80vh;
    display: flex;
}

.product img{
    height: 19vh;
   
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
    
}

.product img:hover{
    opacity: 1;
}

.preview img{
    height: 100%;
  margin-left: 10px;
}

p{
    margin-bottom: 20px;
}

.brand{
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}

h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}

.rating {
    display: flex;
    height: 15px;
}

.rating .fa{
    background: #008000;

}

.price{
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}

input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}

button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background:#fe980f;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 3px;
}

.related h2{
    margin: 50px;
    margin-left: 100px;

}

.items img{
    width: 100%;
    margin: 20px;
}

.items {
   
    margin: 20px;
}

.details{
    margin: 20px;
    margin-top: 20px;
}

.details p{
    font-size: 14px;
    margin-bottom: 10px;
}

.details .rating{
    margin: 10px 0;
}